.App {
  text-align: center;
}

div.board {
  margin-top: 2em;
  display: inline-block;
}

div.row {
  display: flex;
}

div.row div {
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

div.empty {
  background: #ddd;
}

div.wall {
  background: #444;
}

div.start {
  background: blue;
}

div.flag {
  background: green;
}

div.now {
  opacity: 1 !important;
}

button {
  width: 100px;
  border: none;
  margin: 1em;
  padding: 5px;
  background: green;
  cursor: pointer;
}

button.disabled {
  background: red !important;
  pointer-events: none;
}

div.msg-no {
  display: none;
}

div.msg-yes {
  font-size: 2em;
}
